.button {
    -fx-text-fill: white;
    -fx-background-color: #006fff;
    -fx-border-color: #006fff;
    -fx-border-width: 3;
    -fx-border-radius: 3;
}

.titled-pane {
    -fx-border-radius: 3;
    -fx-border-width: 3;
}

.titled-pane > .title {
    -fx-background-color: #006fff;
}

.list-cell {
    -fx-font-weight: bold;
    -fx-font-size: 12;
}

.text-field {
    -fx-border-color: #006fff;
    -fx-border-radius: 3;
    -fx-border-width: 2;
}

